In [1]:
import pandas as pd # Así importamos Pandas.
# Es normal usar el "as pd" para abreviar.

pokedf_xlsx = pd.read_excel('pokemon_data.xlsx') # Leer archivos de Excel.
pokedf_txt = pd.read_csv('pokemon_data.txt', delimiter='\t') # Leer .txt delimitados por tabuladores.

# Trabajaremos con el archivo .csv.
pokedf = pd.read_csv('pokemon_data.csv', index_col=0) # index_col=0 indica que
# tomaremos la columna 0 del archivo como el índice.

In [2]:
pokedf.head(3) # El método .head() nos permite ver los primeros 5
# renglones del DataFrame por default. Podemos indicar como argumento
# el número de renglones que queremos ver.

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [3]:
# Ahora que ya sabemos cómo funcionan las clases, podemos observar que Pandas
# nos brinda la oportunidad de acceder al DataFrame llamado "pokedf" y a sus
# diferentes atributos.
headers = list(pokedf.columns.values) # En este caso creamos una variable
# llamada headers que contendrá una lista con los atributos ".columns.values"
# de pokedf. Es decir, solo los títulos de las columnas.

print(headers) # Aquí imprimimos esta lista para ver los nombres de las columnas.

# Si queremos acceder exclusivamente a las columnas, por ejemplo, "Name",
# "Type 1" y "Type 2", podemos acceder a ellas por medio de un slice de la
# variable headers de la siguiente forma:
print(pokedf[headers[0:3]])

['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']
                      Name   Type 1  Type 2
#
1                Bulbasaur    Grass  Poison
2                  Ivysaur    Grass  Poison
3                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire     NaN
..                     ...      ...     ...
719                Diancie     Rock   Fairy
719    DiancieMega Diancie     Rock   Fairy
720    HoopaHoopa Confined  Psychic   Ghost
720     HoopaHoopa Unbound  Psychic    Dark
721              Volcanion     Fire   Water

[800 rows x 3 columns]

In [4]:
print(pokedf[['Name', 'Defense']]) # O también indicando el nombre de la columna.
# Es importante notar que la sintaxis es
# nombre_del_dataframe[lista_con_los_nombres_de_las_columnas]

                      Name  Defense
#
1                Bulbasaur       49
2                  Ivysaur       63
3                 Venusaur       83
3    VenusaurMega Venusaur      123
4               Charmander       43
..                     ...      ...
719                Diancie      150
719    DiancieMega Diancie      110
720    HoopaHoopa Confined       60
720     HoopaHoopa Unbound       60
721              Volcanion      120

[800 rows x 2 columns]

### iloc

In [5]:
# iloc nos permite acceder a valores del Data Frame mediante índices específicos.
# La sintaxis es: nombre_dataframe.iloc[fila, columna]
print(pokedf.iloc[0,2]) # De esta forma nos devuelve solo el valor de la
# fila 0 y columna 2.

# Pero también podemos acceder a un subset del dataframe.
print(pokedf.iloc[0:4,0:4]) # De esta forma accedemos a las filas del 0 al
# 4 (sin incluir la 4) de las columnas 0 a 4 (sin incluir la 4).

Poison
                    Name Type 1  Type 2  HP
#
1              Bulbasaur  Grass  Poison  45
2                Ivysaur  Grass  Poison  60
3               Venusaur  Grass  Poison  80
3  VenusaurMega Venusaur  Grass  Poison  80

In [6]:
# Otra forma de acceder a los datos es mediante la indicación del nombre de
# la columna y las filas.
print(pokedf['Name'][0:5])

#
1                Bulbasaur
2                  Ivysaur
3                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [7]:
print(pokedf.iloc[3]) # Solo accedemos al renglón 4.
# Recordemos que es el 4 porque tiene índice 0.

Name          VenusaurMega Venusaur
Type 1                        Grass
Type 2                       Poison
HP                               80
Attack                          100
Defense                         123
Sp. Atk                         122
Sp. Def                         120
Speed                            80
Generation                        1
Legendary                     False
Name: 3, dtype: object

### loc

In [8]:
pokedf.head(3)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [9]:
# loc es una manera de acceder al data frame de acuerdo a una condición
# específica. Podemos verlo como un filtrado de datos.

print(pokedf.loc[(pokedf['Type 1'] == 'Fire') & (pokedf['Type 2'] == 'Dragon')])
# En este caso accedemos a los datos del data frame que cumplan que la columna
# "Type 1" sea igual a "Fire" y la columna "Type 2" sea igual a "Dragon".

# Al mostrar el resultado observamos que solo hay un pokémon que cumple estas
# condiciones: CharizardMega Charizard X.

                        Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk
#
6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130  \

   Sp. Def  Speed  Generation  Legendary
#
6       85    100           1      False

In [10]:
# Podemos realizar cambios en el data frame.
# Aquí estamos creando una columna llamada "Total Stats" que contiene la suma
# horizontal (por eso axis=1) de los valores en las columnas 4 a 8 para todas
# las filas.
pokedf['Total Stats'] = pokedf.iloc[:,3:9].sum(axis=1)

pokedf.head(3) # Aquí observamos que esta nueva columna se añade hasta el
# final del data frame.


# DATO: podemos realizar copias de los data frames con .copy()
# Bastante útil si queremos evitar hacer chilaquiles con nuestras variables.
#pokedf_copy = pokedf.copy()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Stats
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525

In [11]:
# Si quisieramos que esta columna "Total Stats" deje de estar al final
# y la reacomodemos antes de la columna "HP", podemos hacer lo siguiente:

cols = list(pokedf.columns.values) # Creamos una variable con una lista de
# nuestras columnas.

pokedf = pokedf[cols[0:3] + [cols[-1]] + cols[3:11]] # Así reordenamos las
# columnas mediante un rebanado de listas. Es decir, el nuevo pokedf va a ser
# igual a pokedf pero con las columnas reordenadas de forma que primero
# vayan las columnas 0, 1, 2, luego la última columna ("Total Stats"), y después
# las columnas 3 a 10.

pokedf.head(5) # Mostramos para ver los cambios.

,Name,Type 1,Type 2,Total Stats,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [12]:
# Si quisieramos eliminar alguna columna usamos el método .drop
# Drop column  Total stats

#pokedf = pokedf.drop(columns=['Total Stats'])

#pokedf.head(3)

In [13]:
# El método .describe() nos da la oportunidad de ver medidas estadísticas
# básicas de todo el data frame.
pokedf.describe()

,Total Stats,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [14]:
# Por ejemplo, podríamos realizar un filtrado con loc para alguna condición y...
new_df = pokedf.loc[(pokedf['Type 1'] == 'Fire') & (pokedf['Total Stats'] > 500)]

In [15]:
new_df.head(3)

,Name,Type 1,Type 2,Total Stats,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False

In [16]:
# Después ver medidas estadísticas de este nuevo set de datos ya filtrado.
new_df.describe()

,Total Stats,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000
mean,564.952381,84.714286,102.476190,83.476190,116.428571,91.761905,86.095238,2.952381
std,48.087916,13.733692,28.333053,16.390909,19.273223,20.583743,21.533473,1.856777
min,505.000000,65.000000,30.000000,60.000000,81.000000,65.000000,20.000000,1.000000
25%,534.000000,76.000000,84.000000,72.000000,104.000000,80.000000,77.000000,1.000000
50%,540.000000,80.000000,104.000000,78.000000,110.000000,85.000000,95.000000,3.000000
75%,600.000000,90.000000,120.000000,90.000000,130.000000,105.000000,100.000000,4.000000
max,680.000000,115.000000,160.000000,120.000000,159.000000,154.000000,108.000000,6.000000

In [17]:
# Asi guardamos nuestro data frame a .csv
new_df.to_csv('filtered_pokemon.csv')

In [18]:
# También lo podemos guardar a Excel.
new_df.to_excel('filtered_pokemon.xlsx')